@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
	.message-bubble {
		@apply p-4 rounded-xl max-w-2xl text-black;
		border: 1px solid rgba(0, 0, 0, .05);
		box-shadow: 3px 5px 5px rgba(0, 0, 0, .05);
	}

	.dot-loading {
		@apply size-3 rounded-full bg-[#D97757] animate-bounce
	}
}
